<footer>
    <div class="row">
        <div class="col-sm-9">
            <p>Copyright &copy; AngleSharp, 2013 - 2020.</p>
            <p>Published with <a href="http://pages.github.com">GitHub Pages</a>. View the <a href="/license.html">license</a>.</p>
        </div>
        <div class="col-sm-3">
            <p><small>Supported by the</small></p>
            <a href="https://dotnetfoundation.org/" target="_blank"><img src="/images/dotnetfoundation.svg" alt=".NET Foundation" class="foundation-logo"></a>
        </div>
    </div>
</footer>