body {
    margin-top: 50px;
}

span.red {
    color: #E21D1D;
}

.header-large {
    display: block;
    width: 100%;
    text-align: center;
    background: url('../images/background.jpg') no-repeat center center scroll;
    background-size: cover;
}

.headline-large {
    padding: 120px 0;
}

.headline-large h1 {
    font-size: 130px;
    text-shadow: 0 0 5px #fff;
}

.headline-large h2 {
    font-size: 77px;
    text-shadow: 0 0 5px #fff;
}

.header-small {
    display: block;
    width: 100%;
    background: url('../images/logo.png') no-repeat left center;
}

.headline-small {
    padding-left: 220px;
}

.headline-small h1 {
    line-height: 175px;
    font-size: 2em;
}

.divider {
    margin: 20px 0;
}

.feature-divider {
    margin: 80px 0;
}

.feature {
    overflow: hidden;
}

.feature-image.pull-left {
    margin-right: 40px;
}

.feature-image.pull-right {
    margin-left: 40px;
}

.eyecatcher-image {
    margin: 20px;
}

.feature-heading {
    font-size: 50px;
}

.blog-info {
    color: #333;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 1em;
}

.blog-post img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

footer {
    margin: 50px 0;
}

@media(max-width:1200px) {
    .headline-large h1 {
        font-size: 140px;
    }

    .headline-large h2 {
        font-size: 63px;
    }

    .feature-divider {
        margin: 50px 0;
    }

    .feature-image.pull-left {
        margin-right: 20px;
    }

    .feature-image.pull-right {
        margin-left: 20px;
    }

    .feature-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline-large h1 {
        font-size: 105px;
    }

    .headline-large h2 {
        font-size: 50px;
    }

    .feature-divider {
        margin: 40px 0;
    }

    .feature-image {
        max-width: 50%;
    }

    .feature-image.pull-left {
        margin-right: 10px;
    }

    .feature-image.pull-right {
        margin-left: 10px;
    }

    .feature-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .divider {
        margin: 10px 0;
    }

    .headline-small h1 {
        line-height: 175px;
        font-size: 2em;
    }

    .feature-divider {
        margin: 40px 0;
    }

    .feature-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline-large h1 {
        font-size: 70px;
    }

    .headline-small h1 {
        line-height: 175px;
        font-size: 2em;
    }

    .headline-large h2 {
        font-size: 32px;
    }

    .feature-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline-large {
        padding: 75px 0 25px 0;
    }

    .headline-large h1 {
        font-size: 60px;
    }

    .headline-small h1 {
        line-height: 175px;
        font-size: 0;
    }

    .headline-large h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .feature-divider {
        margin: 10px 0;
    }

    .divider {
        margin: 5px 0;
    }

    .headline-large h1 {
        font-size: 40px;
    }

    .headline-small h1 {
        line-height: 175px;
        font-size: 0;
    }

    .feature-image {
        max-width: 100%;
    }

    .feature-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .feature-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}