body {
  overflow-x: hidden;
}

span.red {
  color: #E21D1D;
}

.homepage {
  display: flex;
  flex-direction: column;
}

.homepage .row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 -15px;
}

.homepage .row > div {
  margin: 1rem;
}

.homepage .row .half-width {
  flex: 1 1 400px;
  padding: 0 15px;
}

.eyecatcher-image {
  margin: 20px;
  margin-bottom: 100px;
}

.header-large {
  display: block;
  text-align: center;
  background: url('../images/background.jpg') no-repeat center center scroll;
  background-size: cover;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.full-bleed {
  box-sizing: border-box;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 0;
}

.headline-large {
  box-sizing: border-box;
  padding: 120px 0;
}

.headline-large h1 {
  font-size: 130px;
  text-shadow: 0 0 5px #fff;
}

.headline-large h2 {
  font-size: 77px;
  text-shadow: 0 0 5px #fff;
}

.header-small {
  display: block;
  width: 100%;
  background: url('../images/logo.png') no-repeat left center;
}

.headline-small {
  padding-left: 220px;
}

.headline-small h1 {
  line-height: 175px;
  font-size: 2em;
}

.divider {
  margin: 20px 0;
}

hr.feature-divider {
  margin: 60px 0;
  height: 1px;
  border: none;
  border-bottom: 1px solid #eee;
}

.feature {
  overflow: hidden;
}

.feature-image {
  display: inline-block;
}

.feature-image.pull-left {
  margin-right: 40px;
}

.feature-image.pull-right {
  margin-left: 40px;
}

h2.feature-heading {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  border: none;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border: 0;
}

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  font-size: 21px;
  margin: 0 0 10px;
}

.text-muted {
  color: #777;
}

.blog-author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blog-author .author-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: .85em;
  padding-left: 1em;
}

.blog-author .author-photo img {
  width: 48px;
  height: 48px;
  margin-top: .4em;
  border: 1px solid #eee;
  border-radius: 50%;
}

.blog-author .author-info strong {
  padding: .2rem 0;
}

.blog-author .author-info span {
  font-size: .85em;
}

.blog-info {
  color: #333;
  font-weight: 200;
  font-style: italic;
  margin: 1em 0;
}

.blog-post img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

footer {
  padding: 50px 0;
  background: #bcd1e3;
  color: #666;
}

footer > div {
  display: flex;
  align-items: center;
}

footer .left {
    flex: 1;
}

footer .right {
  text-align: right;
}

.foundation-logo {
  width: 180px;
  max-width: 100%;
}

.toc-container {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #aaa;
  display: table;
  font-size: 0.95em;
  margin-bottom: 1em;
  padding: 2em 3em;
  width: auto;
}

.toc-title {
  font-weight: 700;
}

.toc-container ul {
  margin: 0;
  padding: 0;
  padding-left: 0.5em;
}

.toc-container > ul {
  padding-left: 0;
}

.toc-container ul li {
  padding-top: 0.5em;
}

.toc-container li, .toc-container ul, .toc-container ul li {
  list-style: outside none none !important;
}

@media(max-width: 1200px) {
  .headline-large h1 {
    font-size: 140px;
  }

  .headline-large h2 {
    font-size: 63px;
  }

  .feature-divider {
    margin: 50px 0;
  }

  .feature-image.pull-left {
    margin-right: 20px;
  }

  .feature-image.pull-right {
    margin-left: 20px;
  }

  .feature-heading {
    font-size: 35px;
  }

  .pull-left, .pull-right {
    float: none !important;
  }
}

@media(max-width: 991px) {
  .headline-large h1 {
    font-size: 105px;
  }

  .headline-large h2 {
    font-size: 50px;
  }

  .feature-divider {
    margin: 40px 0;
  }

  .feature-image {
    max-width: 50%;
  }

  .feature-image.pull-left {
    margin-right: 10px;
  }

  .feature-image.pull-right {
    margin-left: 10px;
  }

  .feature-heading {
    font-size: 30px;
  }
}

@media(max-width: 768px) {
  .container {
    margin: 0 15px;
    width: auto;
  }

  .divider {
    margin: 10px 0;
  }

  .headline-small h1 {
    line-height: 175px;
    font-size: 2em;
  }

  .feature-divider {
    margin: 40px 0;
  }

  .feature-heading {
    font-size: 25px;
    word-break: break-all;
  }
}

@media(max-width: 668px) {
  .headline-large h1 {
    font-size: 70px;
  }

  .headline-small h1 {
    line-height: 175px;
    font-size: 2em;
  }

  .headline-large h2 {
    font-size: 32px;
  }

  .feature-divider {
    margin: 30px 0;
  }
}

@media(max-width: 640px) {
  .headline-large {
    padding: 75px 0 25px 0;
  }

  .headline-large h1 {
    font-size: 60px;
  }

  .headline-small h1 {
    line-height: 175px;
    font-size: 0;
  }

  .headline-large h2 {
    font-size: 30px;
  }
}

@media(max-width: 375px) {
  .feature-divider {
    margin: 10px 0;
  }

  .divider {
    margin: 5px 0;
  }

  .headline-large h1 {
    font-size: 40px;
  }

  .headline-small h1 {
    line-height: 175px;
    font-size: 0;
  }

  .feature-image {
    max-width: 100%;
  }

  .feature-image.pull-left {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .feature-image.pull-right {
    margin-bottom: 10px;
    margin-left: 0;
  }
}
